<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="row">
	
	<div class="col-md-10">

		<div class="row">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3>Summary</h3> 
						</div>
					</div>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post" name="addassociationsummary" enctype="multipart/form-data">
					{{form.hidden_tag()}}
						<table>
							<tr>
								<td>Summary Type</td> 
								<td> {{ form.type(cols = 64, class = "span4") }}
									{% for error in form.errors.type %}
										<span class="help-inline">[{{error}}]</span><br>
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td>Title</td> 
								<td> {{ form.title(cols = 64, class = "span4") }}
									{% for error in form.errors.title %}
										<span class="help-inline">[{{error}}]</span><br>
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td>Text</td> 
								<td> {{ form.text(cols = 64, rows = 4, class = "span4") }}
									{% for error in form.errors.text %}
										<span class="help-inline">[{{error}}]</span><br>
									{% endfor %}
								</td>
							</tr>
						</table>
						<br>
						<div class="control-group">
							<div class="controls">
								<input class="btn btn-primary" type="submit" value="Save Changes">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</div>


{% endblock %}