<!-- extend base layout -->

{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2 text-left">
	
	</div>
	
	<div class="col-md-10">
	
		<form class="form-horizontal" action="" method="post" name="addsample" enctype="multipart/form-data">
			{{form.hidden_tag()}}

			<div class="control-group{% if form.errors.population %} error{% endif %}">
				<label class="control-label" for="population">Population</label>
				<div class="controls">
					{{ form.population(maxlength = 64, class = "span4") }}
						{% for error in form.errors.population %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.frequency %} error{% endif %}">
				<label class="control-label" for="frequency">Frequency</label>
				<div class="controls">
					{{form.frequency}}
						{% for error in form.errors.frequency %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>

			
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Save Changes">
				</div>
			</div>
			
		</form>	

	</div>
	
</div>
{% endblock %}

