<!-- extend base layout -->

{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2 text-left">
	
	</div>
	
	<div class="col-md-10">
	
		<form class="form-horizontal" action="" method="post" name="addpub" enctype="multipart/form-data">
			{{form.hidden_tag()}}

			<div class="control-group{% if form.errors.title %} error{% endif %}">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					{{ form.title(cols = 64, rows = 4, class = "span4") }}
						{% for error in form.errors.title %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.abstract %} error{% endif %}">
				<label class="control-label" for="abstract">Abstract</label>
				<div class="controls">
					{{ form.abstract(cols = 64, rows = 4, class = "span4") }}
						{% for error in form.errors.abstract %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.pubmed_id %} error{% endif %}">
				<label class="control-label" for="pubmed_id">Pubmed ID</label>
				<div class="controls">
					{{ form.pubmed_id(cols = 64, class = "span4") }}
						{% for error in form.errors.pubmed_id %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.doi %} error{% endif %}">
				<label class="control-label" for="pubmed_id">DOI</label>
				<div class="controls">
					{{ form.doi(cols = 64, class = "span4") }}
						{% for error in form.errors.doi %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>

			
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Save Changes">
				</div>
			</div>
			
		</form>	

	</div>
	
</div>
{% endblock %}

