<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="row">

	<div class="col-md-2 text-left">
		<ul class="list-group" data-spy="affix" data-offset-top="100" data-offset-bottom="200">
			<a href="#Info" class="list-group-item">Basic Information</a>
			<a href="#Frequencies" class="list-group-item">Frequencies</a>
		</ul>
	</div>
	
	<div class="col-md-10">

		<div class="row">
			<a name="Info"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Basic Information</h3>
				</div>
				<div class="panel-body">
					<p>Internal ID: {{allele.id}}</p>
					<p>Reference Allele: {{allele.ref_allele}}</p>
					<p>Alternative Allele: {{allele.alt_allele}}</p>
					<p>Source: {{allele.source}}</p>	
					<p>Orientation: {{allele.orientation}}</p>	
				</div>
			</div>
		</div>
		
		<div class="row">
			<a name="Frequencies"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3>Frequencies</h3> 
						</div>
						<div class="col-md-2">
							<a href="{{ url_for('addfrequency', marker = marker.dbsnp_id, id = allele.id) }}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus-sign"></span> Add Frequency</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-responsive">
					<thead>
						<tr>
							<div>
								<th>Population</th>
								<th>Frequency</th>
							</div>
						</tr>
					</thead>
					<tbody>
						{% for frequency in allele.frequencies %}
							<tr>
								<td>{{frequency.population}}</td>
								<td>{{frequency.frequency}}</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</div>


{% endblock %}