<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="row">

	<div class="col-md-2 text-left">
		<ul class="list-group" data-spy="affix" data-offset-top="100" data-offset-bottom="200">
			<a href="#Info" class="list-group-item">Basic Information</a>
			<a href="#Research" class="list-group-item">Research Summaries</a>
			<a href="#Publications" class="list-group-item">Publications</a>
			<a href="#Comments" class="list-group-item">Comments</a>
			<a href="#History" class="list-group-item">Previous Versions</a>
		</ul>
	</div>
	
	<div class="col-md-10">

		<div class="row">
			<a name="Info"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3>Basic Information</h3> 
						</div>
						<div class="col-md-2">
							<a href="{{ url_for('editassociation', marker = marker.dbsnp_id, id = association.id) }}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<p>Internal ID: {{association.id}}</p>
					<p>Gene: </p>
					<p>Allele of Interest: {{association.allele_of_interest}}</p>
					<p>Trait: {{association.trait}}</p>
					<p>Project: {{association.project.project_name}}</p>	
					<p>Last Modified: {{association.last_modified}}</p>
					<p>Last Modified By: {{association.last_modified_by.nickname}}</p>
					<p>Impact: {{association.impact}}</p>
					<p>Confidence: {{association.confidence}}</p>
					<p>Active: {{association.active}}</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<a name="Research"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3>Research Summaries</h3> 
						</div>
						<div class="col-md-2">
							<a href="{{ url_for('add_association_summary', marker = marker.dbsnp_id, id = association.id) }}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus-sign"></span> Add Summary</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					
					<table class="table table-condensed table-responsive">
						<thead>
							<tr>
								<div>
									<th>Type</th>
									<th>Title</th>
									<th>Text</th>
								</div>
							</tr>
						</thead>
						<tbody>
							{% for summary in association.summaries %}
								<tr>
									<td>{{summary.type}}</td>
									<td>{{summary.title}}</td>
									<td>{{summary.text}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		
		
		
		<div class="row">
			<a name="Publications"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3>Publications</h3> 
						</div>
						<div class="col-md-2">
							<a href="{{ url_for('addpub', marker = marker.dbsnp_id, id = association.id) }}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus-sign"></span> Add Publication</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-responsive">
					<thead>
						<tr>
							<div>
								<th>Title</th>
								<th>Abstract</th>
								<th>Pubmed ID</th>
								<th>DOI</th>
							</div>
						</tr>
					</thead>
					<tbody>
						{% for publication in association.publications %}
							<tr>
								<td>{{publication.title}}</td>
								<td>{{publication.abstract}}</td>
								<td>{{publication.pubmed_id}}</td>
								<td>{{publication.doi}}</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<a name="Comments"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Comments</h3> 
				</div>
				<div class="panel-body">
					<div class="row">
						<table class="table table-condensed table-responsive">
						<thead>
							<tr>
								<div>
									<th>Author</th>
									<th>Comment</th>
									<th>Date</th>
								</div>
							</tr>
						</thead>
						<tbody>
							{% for comment in association.comments %}
								<tr>
									<td>{{comment.author}}</td>
									<td>{{comment.body}}</td>
									<td>{{comment.created_at}}</td>
								</tr>
							{% endfor %}
						</tbody>
						</table>
					</div>
					
					<div class="row">
						{% if g.user.is_user_or_admin %}
						 <form action="" method="post" name="comment">
							{{form.hidden_tag()}}
							<table>
								<tr>
									<td>Post a New Comment:</td>
								</tr>
								<tr>
									<td>{{ form.note(size = 50) }}</td>
									<td>
									{% for error in form.errors.note %} 
										<span style="color: red;">[{{error}}]</span><br>
									{% endfor %}
									</td>
								</tr>
								<tr>
									<td><input type="submit" value="Post"></td>
								</tr>
							</table>
						</form>
						{% endif %}
					</div>
					
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<a name="History"></a>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3>Previous Versions</h3> 
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-responsive">
					<thead>
						<tr>
							<div>
								<th>Allele of Interest</th>
								<th>Trait</th>
								<th>Removed By</th>
								<th>Removed On</th>
								<th>Reason</th>
							</div>
						</tr>
					</thead>
					<tbody>
						{% for version in association.previous_versions %}
							<tr>
								<td>{{version.allele_of_interest}}</td>
								<td>{{version.trait}}</td>
								<td>{{version.removed_by.nickname}}</td>
								<td>{{version.removed_on}}</td>
								<td>{{version.reason}}</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</div>


{% endblock %}