<!-- extend base layout -->
<!-- Hasn't yet been modified from user editing template -->

{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2 text-left">
	
	</div>
	
	<div class="col-md-10">
	
		<form class="form-horizontal" action="" method="post" name="addsample" enctype="multipart/form-data">
			{{form.hidden_tag()}}
			<div class="control-group{% if form.errors.post %} error{% endif %}">
				<label class="control-label" for="dbsnp_id">dbSNP ID:</label>
				<div class="controls">
					{{ form.dbsnp_id(maxlength = 64, class = "span4") }}
						{% for error in form.errors.dbsnp_id %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			

			<div class="control-group{% if form.errors.post %} error{% endif %}">
				<label class="control-label" for="ref_allele">Reference Allele:</label>
				<div class="controls">
					{{ form.alleles.ref_allele(maxlength = 64, class = "span4") }}
						{% for error in form.errors.alleles.ref_allele %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			<div class="control-group{% if form.errors.post %} error{% endif %}">
				<label class="control-label" for="alt_allele">Alternative Allele:</label>
				<div class="controls">
					{{ form.alleles.alt_allele(maxlength = 64, class = "span4") }}
						{% for error in form.errors.alleles.alt_allele %}
						<span class="help-inline">[{{error}}]</span><br>
						{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.post %} error{% endif %}">
				<label class="control-label" for="source">Source:</label>
				<div class="controls">
					{{ form.alleles.source(cols = 64, class = "span4") }}
					{% for error in form.errors.source.status %}
						<span class="help-inline">[{{error}}]</span><br>
					{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.post %} error{% endif %}">
				<label class="control-label" for="orientation">Orientation:</label>
				<div class="controls">
					{{ form.alleles.orientation }}
					{% for error in form.errors.alleles.orientation %}
						<span class="help-inline">[{{error}}]</span><br>
					{% endfor %}
				</div>
			</div>
			
			<div class="control-group{% if form.errors.post %} error{% endif %}">
				<label class="control-label" for="orientation">Orientation:</label>
				<div class="controls">		
					<table class="table table-hover table-condensed table-responsive">
						<tbody>
							<tr>
								<td>1000G European{{form.alleles.kg_eur}}</td>
							</tr>
							<tr>
								<td>1000G African{{form.alleles.kg_afr}}</td>
							</tr>
							<tr>
								<td>1000G American{{form.alleles.kg_amr}}</td>
							</tr>
							<tr>
								<td>1000G Asian{{form.alleles.kg_asn}}</td>
							</tr>
							<tr>
								<td>1000G All Populations{{form.alleleskg_all}}</td>
							</tr>
						</tbody>
					</table>
					{% for error in form.errors.alleles %}
						<span class="help-inline">[{{error}}]</span><br>
					{% endfor %}
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<input class="btn btn-primary" type="submit" value="Save Changes">
				</div>
			</div>
			
		</form>	

	</div>
	
</div>
{% endblock %}

