# Template for a workflow using BWA MEM plus post-processing with Picard and the GATK.
# If no version number of an algorithm or resource is specified then tool-level configuration
# will be pulled from the production directory as indicated in the
# information section. 

# If not specifying specific version numbers for software and resources above
# Will look in the production directory for individual tool-level configuration files
# production can be set to false or not included. Version number should refer to the
# version number of this workflow. The same is true for development option.
# production and development are named directories in the tool workflow folder
# for configurations.

#Algorithm Selection occurs in the Python script

[information]
version: 1.0
production: true
development: false
samples: 
assembly_directory: current
clean_intermediates: false
num_cores: 6
project_name: p41-Epilepsy

#Create a section with section header [sample_id] for each sample listed in samples
[2459]
RG_ID: 
RG_SM: 
RG_PL: 
fastq1: 
fastq2: 
bam:


# Can specify tool-level overrides in individual sections As below. Uncomment to use
#[bwa-mem]
#reference: 
#num_cores: 4

# Project level resource parameters will override tool-level default settings
# This section can be used or not included. Any tool-level resource can be overridden here
# Note that option names are global. Will overwrite that option for all tools
[resources]
bin_dir: /usr/local/bin/production/
regions: /data/shared/Genome/Homo_sapiens/Annotations/ccds.current.bed
snpeff_reference: GRCh37.74
snpeff_bin: /usr/local/bin/snpEff.jar
reference_genome: /data/shared/Genomes/Homo_sapiens/GATK-Resource/2.8/b37/human_g1k_v37.fasta
gatk_resource_dir: /data/shared/Genomes/Homo_sapiens/GATK-Resource/2.8/b37/
picard_bin_dir: /usr/local/bin/
samtools_bin: /usr/local/bin/samtools
gatk_bin: /usr/local/bin/GenomeAnalysisTK.jar
